%header.jumbotron.subhead#overview
  %h1 Bookyt hilft im Alltag
  %p.lead
    Administrative Tätigkeiten sind in jedem Betrieb wichtig. Aber sie sind nicht die Kernkompetenz. Bookyt unterstützt
    Sie darin diese Arbeiten speditiv und präzise zu erledigen.

  .subnav
    %ul.nav.nav-pills
      %li.active=link_to "Finanzbuchaltung", "#fibu"
      %li= link_to "Debitoren", "#debit"
      %li= link_to "Kreditoren", "#credit"

.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'fibu.png'
  .span9
    %h2#fibu Finanzbuchhaltung
    %p
      Mit unserer Finanzbuchhaltung behalten Sie den Überblick über den Geschäftsgang.
    %p
      Dynamische Bilanz- und Erfolgsrechnungen bieten Ihnen die nötige Übersicht. In den Konten sehen sie die detailierten Buchungen.
      Rechnungs-, Zahlungs-, aber auch Aktivierungs- oder Abschreibungsbuchungen sind bequem mit den entsprechenden Subjekten verlinkt.

.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/debit_invoices", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'fibu.png'
  .span9
    %h2#debit Debitoren

    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.
    %p
      Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
      Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.

.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/credit_invoices", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'fibu.png'
  .span9
    %h2#credit Kreditoren

    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.
    %p
      Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
      Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.

.page-header
  %h1 Lohn

%p
  Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.

.page-header
  %h1 Projekt- und Zeiterfassung
%p
  Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.

.page-header
  %h1 Datei-Verwaltung
%p
  Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
