%header.jumbotron.subhead#overview
  %h1 Bookyt hilft im Alltag
  %p.lead
    Administrative Tätigkeiten sind in jedem Betrieb wichtig. Aber sie sind nicht die Kernkompetenz. Bookyt unterstützt
    Sie darin diese Arbeiten speditiv und präzise zu erledigen.

  .subnav
    %ul.nav.nav-pills
      %li.active=link_to "Finanzbuchaltung", "#fibu"
      %li= link_to "Debitoren", "#debit"
      %li= link_to "Kreditoren", "#credit"
      %li= link_to "Lohnbuchhaltung", "#salary"
      %li= link_to "Zeiterfassung", "#time_tracking"
      %li= link_to "Weitere Funktionen", "#more"

.row
  .span12
    .page-header
      %h1#fibu Finanzbuchhaltung
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'fibu.png'
  .span9
    %p
      Mit unserer Finanzbuchhaltung behalten Sie den Überblick über den Geschäftsgang.
    %p
      Dynamische Bilanz- und Erfolgsrechnungen bieten Ihnen die nötige Übersicht. In den Konten sehen sie die detailierten Buchungen.
      Rechnungs-, Zahlungs-, aber auch Aktivierungs- oder Abschreibungsbuchungen sind bequem mit den entsprechenden Subjekten verlinkt.

.row
  .span12
    .page-header
      %h1#debit
        Debitoren
        %small Verdientes erhalten
.row
  .span9
    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.
    %p
      Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
      Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.
  .span3

.row
  .span12
    .page-header
      %h1#credit
        Kreditoren
        %small Ausgaben im Griff
.row
  .span3
  .span9
    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.
    %p
      Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
      Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.

.row
  .span12
    .page-header
      %h1#salary
        Lohnbuchhaltung
        %small 
.row
  .span9
    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.
    %p
      Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
      Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.
  .span3

.row
  .span12
    .page-header
      %h1#time_tracking
        Zeiterfassung
        %small 
.row
  .span3
  .span9
    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.
    %p
      Neben den Grundfunktionen wie mehreren Positionen und individuellem Briefkopf bietet unsere Debitorenlösung effiziente Lösungen für die meisten Bedürfnisse.
      Der automatische Zahlungsableich per VESR ist z.B. ideal für hohe Volumina, PDF-Rechnungen mit hübschem Einzahlungsschein perfekt für Ihr Online-Business.

.row
  .span12
    .page-header
      %h1#more
        Weitere Funktionen
        %small
          Helfer im Alltag
.row
  .span4
    %h3 Einfach finden
    %p
      In der Titelleiste finden Sie zu jedem Zeitpunkt ein Suchfeld. Damit kann in allen relevanten Objekten nach beliebigen Feldern gesucht werden.

  .span4
    %h3 Effizient buchen
    %p
      Für wiederkehrende Buchungen gibt es die Funktionen "Buchung kopieren" und eine frei konfigurierbare Buchungsvorlagen.

  .span4
    %h3 Individuel einsteigen
    %p
      Wie bei jeder Webseite kann jeder Benutzer selber Bookmarks für die wichtigsten Seiten und Funktionen anlegen.

.row
  .span4
    %h3 Fokusiert ablegen
    %p
      Wichtigen Geschäft-Objekten und Prozessen wie Kunden, Rechnungen oder Konten können Sie soviele Dokumente anhängen wie Sie möchten.

  .span4
    %h3 Ruhig schlafen
    %p
      All Ihre Daten werden in Schweizer Rechenzentrem verarbeitet und werden professionell geschützt. Wenn ihr Computer ein Problem hat, nehmen sie einen
      anderen und arbeiten einfach weiter.
      
  .span4
    %h3 Schön kommunizieren
    %p
      Für Rechnungen, Lohnabrechnungen usw. können Sie individuelle Vorlagen hochladen. Denn diese Dokumente repräsentiren Ihre Firma gegen aussen.
