.subnav
  %ul.nav.nav-pills
    %li= link_to "Firma", "#firm"
    %li=link_to "Team", "#team"

.ankor#firm
.row
  .span12
    .page-header
      %h1
        Firma
        %small ?
.row
  .span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
  .span8
    %p
      Wir sind ein junges und dynamisches Team welches durch langjährige Erfahrung in der Medizinalinformatik kompetente Lösungen für Ärzte und andere KMUs anbietet. Unser Credo ist stets die Minimierung unnötigen Aufwandes. Dafür eignen sich besonders die aus der Open Source Entwicklung bekannten Geschäftsmodelle. Das heisst, dass die Software an und für sich frei erhältlich ist, und lediglich der Service bezahlt werden muss. Somit wird gewährleistet, dass genau die Kosten entstehen, welche auch einen Nutzen bringen.

.ankor#team
.row
  .span12
    .page-header
      %h1
        Team
        %small ?
.row
  .span12
    %p
      Wir sind ein junges und dynamisches Team welches durch langjährige Erfahrung in der Medizinalinformatik kompetente Lösungen für Ärzte und andere KMUs anbietet. Unser Credo ist stets die Minimierung unnötigen Aufwandes. Dafür eignen sich besonders die aus der Open Source Entwicklung bekannten Geschäftsmodelle. Das heisst, dass die Software an und für sich frei erhältlich ist, und lediglich der Service bezahlt werden muss. Somit wird gewährleistet, dass genau die Kosten entstehen, welche auch einen Nutzen bringen.

%ul.thumbnails
  %li.span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
      .caption
      %h4 Ramon Egloff
      %p
        %br/
        Kundenbetreuung 
        %br/
        Projektmanagement 
        %br/
        Mitglied der Geschäftsleitung 
        %br/
        %br/
        <a href="https://twitter.com/huerlisi" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @huerlisi</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>       
        <script type="XING/Share" data-counter="no_count" data-lang="de" data-button-shape="rectangle" data-url="https://www.xing.com/profile/Simon_Huerlimann3"></script><script src="https://www.xing-share.com/js/external/share.js" type="text/javascript"></script>

  %li.span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
      .caption
      %h4 Simon Hürlimann
      %p
        %br/
        Technologie
        %br/
        Entwicklung
        %br/
        Mitglied der Geschäftsleitung 
        %br/
        %br/

        <a href="https://twitter.com/huerlisi" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @huerlisi</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <script type="XING/Share" data-counter="no_count" data-lang="de" data-button-shape="rectangle" data-url="https://www.xing.com/profile/Simon_Huerlimann3"></script><script src="https://www.xing-share.com/js/external/share.js" type="text/javascript"></script>

  %li.span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
      .caption
      %h4 Roman Simecek
      %p
        %br/
        Technologie
        %br/
        Entwicklung
        %br/
        %br/
        %br/

        <a href="https://twitter.com/raskhadafi" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @raskhadafi</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <script type="XING/Share" data-counter="no_count" data-lang="de" data-button-shape="rectangle" data-url="https://www.xing.com/profile/Roman_Simecek"></script><script src="https://www.xing-share.com/js/external/share.js" type="text/javascript"></script>

%ul.thumbnails
  %li.span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
      .caption
      %h4 Dany Rickenbacher
      %p
        %br/
        Verkauf
        %br/
        Marketingmanagement
        %br/
        %br/
        %br/
        <a href="https://twitter.com/RiFiction" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @RiFiction</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>     

        <script type="XING/Share" data-counter="no_count" data-lang="de" data-button-shape="rectangle" data-url="https://www.xing.com/profile/Dany_Rickenbacher"></script><script src="https://www.xing-share.com/js/external/share.js" type="text/javascript"></script>

  %li.span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
      .caption
      %h4 David Hürlimann
      %p
        %br/
        Serverumgebung
        %br/
        Software Installation/Wartung
        %br/
        Dokumentation
        %br/
        %br/
        <a href="https://twitter.com/TheKleine85" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @TheKleine85</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>     

        <script type="XING/Share" data-counter="no_count" data-lang="de" data-button-shape="rectangle" data-url="https://www.xing.com/profile/David_Huerlimann2"></script><script src="https://www.xing-share.com/js/external/share.js" type="text/javascript"></script>

  %li.span4
    .thumbnail
      = image_tag 'http://placehold.it/300x220'
      .caption
      %h4 Andi Staub
      %p
        %br/
        Praktikant
        %br/
        %br/
        %br/
        %br/
        <a href="https://twitter.com/kitsane" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @kitsane</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
