.row
  .span12
    .page-header
      %h1
        Referenz-Projekte
        %small ein kleiner Auszug...
.row
  .span12
    %p
      Am liebsten machen wir unsere Kunden glücklich. Denn wir können etwas, was nicht zu ihren Kompetenzen gehört: Webseiten entwickeln.

%ul.thumbnails
  %li.span4
    .thumbnail
      = image_tag '360x268/katalog.png'
      .caption
      %h4 Dokumentenkatalog für doku-zug.ch

  %li.span4
    .thumbnail
      = image_tag '360x268/offer_on_web.png'
      .caption
      %h4 Offerten Tool für Carl Heusser AG

  %li.span4
    .thumbnail
      = image_tag '360x268/sym_spree.png'
      .caption
      %h4 Onlineshop für Sign your Moment

  %li.span4
    .thumbnail
      = image_tag '360x268/wikisigns.png'
      .caption
      %h4 WikiSigns

  %li.span4
    .thumbnail
      = image_tag 'cydoc.png'
      .caption
      %h4 Praxisadministration

  %li.span4
    .thumbnail
      = image_tag 'bookyt.png'
      .caption
      %h4 Buchhaltung / ERP
