.row
  .span12
    .page-header
      %h1
        Referenz-Projekte
        %small ein kleiner Auszug...
.row
  .span12
    #carousel.carousel
      .carousel-inner
        .active.item
          = image_tag '870x500/katalog.png'
        .item
          = image_tag '870x500/offer_on_web.png'
      %a.carousel-control.left{:href => "#carousel", 'data-slide' => "prev"} &lsaquo;
      %a.carousel-control.right{:href => "#carousel", 'data-slide' => "next"} &rsaquo;

%ul.thumbnails
  %li.span4
    .thumbnail
      = image_tag '360x268/katalog.png'
      .caption
      %h4 Dokumentenkatalog für doku-zug.ch

  %li.span4
    .thumbnail
      = image_tag '360x268/offer_on_web.png'
      .caption
      %h4 Offerten Tool für Carl Heusser AG

  %li.span4
    .thumbnail
      = image_tag '360x268/sym_spree.png'
      .caption
      %h4 Onlineshop für Sign your Moment

  %li.span4
    .thumbnail
      = image_tag '360x268/wikisigns.png'
      .caption
      %h4 WikiSigns

  %li.span4
    .thumbnail
      = image_tag 'cydoc.png'
      .caption
      %h4 Praxisadministration

  %li.span4
    .thumbnail
      = image_tag 'bookyt.png'
      .caption
      %h4 Buchhaltung / ERP
