.subnav
  %ul.nav.nav-pills
    %li.active=link_to "Entwicklung", "#development"
    %li= link_to "Schulung", "#training"
    %li= link_to "Support", "#support"
    %li= link_to "Hosting", "#hosting"
    %li= link_to "Infrastruktur", "#infrastructure"
    %li= link_to "Redmine", "#redmine"
    %li= link_to "OwnCloud", "#owncloud"

.ankor#development
.row
  .span12
    .page-header
      %h1
        Entwicklung
        %small für individuelle Applikation
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      Wenn es für Ihre Bedürfnisse noch kein geeignetes Programm gibt, entwickeln wir es nach Ihren Vorstellungen oder passen ein bestehendes Programm an Ihre Bedürfnisse an. Dank modernen Technologien und Entwicklungsmodellen ist die Individualentwicklung auch für kleine Unternehmen erschwinglich geworden.

.ankor#training
.row
  .span12
    .page-header
      %h1
        Schulung
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#support
.row
  .span12
    .page-header
      %h1
        Support
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#infrastructure
.row
  .span12
    .page-header
      %h1
        Infrastruktur
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#hosting
.row
  .span12
    .page-header
      %h1
        Hosting
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#redmine
.row
  .span12
    .page-header
      %h1
        Redmine
        %small für die Projektplanung
.row
  .span9
    %p
      Basierend auf dem weit verbreiteten Online-Projektmanagement Programm Redmine, bieten wir eine individualisierte Projektplanungs-Umgebung für Ihre Bedürfnisse. Damit können Sie eine beliebige Anzahl Projekte verwalten, Benutzer erfassen und Berechtigungen verteilen. Es gibt eine integrierte Wissensdatenbank, mit der auf einfachste Weise komplexes Wissen dokumentiert werden kann. Das Kernstück von CyPlan ist jedoch die ausgeklügelte Arbeitsplanungs-Funktion. Es lassen sich verschiedene Kategorien von Aufgaben erstellen, für welche die Ressourcen wie Mitarbeiter, budgetierte und effektive Zeit koordiniert werden können. Des weiteren haben sämtliche Projekt-Mitarbeiter zugriff auf die zentrale Dateiverwaltung, was die Existenz von verschiedenen Versionen, verteilt im Unternehmen, vermeidet.
  .span3
    = link_to "http://bookyt.demo.cyt.ch/redmine_booking_templates", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'redmine_booking_templates.png'

.ankor#owncloud
.row
  .span12
    .page-header
      %h1
        OwnCloud
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/projects", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'timesheet.png'
  .span9
    %p
      Mit Owncloud haben Sie Ihre Daten jederzeit und überall zur Verfügung. Speichern Sie einen Brief im Büro ab und greifen später von zuhause wieder darauf zu. Machen Sie ein Foto mit Ihrem Smartphone und öffnen es an einem beliebigen Computer. Ihre Daten bleiben stets vor Fremdzugriff und Verlust geschützt. Im Gegensatz zu Online-Diensten wie google docs, dropbox werden Ihre Daten auf Server in der Schweiz gespeichert. Somit haben sie höchste Rechtssicherheit.

.ankor#more
.row
  .span12
    .page-header
      %h1
        Weitere Angebote
        %small
.row
  .span4
    %h3 ?
    %p
      ?

  .span4
    %h3 ?
    %p
      ?
  .span4
    %h3 ?
    %p
      ?