.subnav
  %ul.nav.nav-pills
    %li.active=link_to "Entwicklung", "#development"
    %li= link_to "Schulung", "#training"
    %li= link_to "Support", "#support"
    %li= link_to "Hosting", "#hosting"
    %li= link_to "Infrastruktur", "#infrastructure"

.row
  .span12
    %header.jumbotron.subhead#overview
      %h1 Dienstleistungen
      %p.lead
        ?

.ankor#development
.row
  .span12
    .page-header
      %h1
        Entwicklung
        %small für individuelle Applikation
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      Wenn es für Ihre Bedürfnisse noch kein geeignetes Programm gibt, entwickeln wir es nach Ihren Vorstellungen oder passen ein bestehendes Programm an Ihre Bedürfnisse an. Dank modernen Technologien und Entwicklungsmodellen ist die Individualentwicklung auch für kleine Unternehmen erschwinglich geworden.

.ankor#training
.row
  .span12
    .page-header
      %h1
        Schulung
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#support
.row
  .span12
    .page-header
      %h1
        Support
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#hosting
.row
  .span12
    .page-header
      %h1
        Hosting
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?

.ankor#infrastructure
.row
  .span12
    .page-header
      %h1
        Infrastruktur
        %small ?
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      ?



.ankor#more
.row
  .span12
    .page-header
      %h1
        Weitere Angebote
        %small
.row
  .span4
    %h3 ?
    %p
      ?

  .span4
    %h3 ?
    %p
      ?
  .span4
    %h3 ?
    %p
      ?